<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sign in</title>
<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${param.error}">
			The email or password is incorrect!</div>
		<form th:action="@{/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
			<label for="inputEmail" class="sr-only">Email</label> <input
				type="email" id="email" name="email" class="form-control"
				placeholder="Email" required autofocus> <label
				for="inputPassword" class="sr-only">Password</label> <input
				type="password" id="password" name="password" class="form-control"
				placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
			<div class="margin-top20 text-center">
				Don't have an account? <a th:href="@{/signup}">Create an account</a>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer" />

</body>
</html>